/* "https://mdn.github.io/shared-assets/images/examples/balloons.jpg" */

.box {
  /* Add styles here */
  height: 150px;
  border: 5px solid;
  border-radius: 10px;
  background-image: url(https://mdn.github.io/shared-assets/images/examples/balloons.jpg);
  /* background-position-y: ; */
}

h2 {
  /* Add styles here */
  color: white;
  font-size: 2.3em;
  background-color: rgba(0,0,0,0.5);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 50px;
}
