<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid template areas</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <div class="div-for-all">
    <div class="header">
      <div class="a1 box">a1</div>
      <div class="a2 box">a2</div>
    </div>
    <div class="main">
      <div class="middle">
        <div class="b1 box">b1</div>
        <div class="b2 box">b2</div>
        <div class="b3 box">b3</div>
      </div>
      <div class="bottom">
        <div class="c1 box">c1</div>
        <div class="c2 box">c2</div>
        <div class="c3 box">c3</div>
      </div>
    </div>
  </div>
</body>
</html>